/* FONTS */
/* COLOURS */
/* BREAKPOINTS */
/* DIMENSIONS */
/* MISCELLANEOUS */
/* line 3, ../../tests/sass/favoritebuttons.scss */
.favoritebuttons {
  float: left;
  width: 24px;
  padding-left: 5px;
  padding-right: 24px;
}
