/* FONTS */
/* COLOURS */
/* BREAKPOINTS */
/* DIMENSIONS */
/* MISCELLANEOUS */
/* line 16, ../../tests/sass/icons.scss */
.iconButtons {
  background-size: cover;
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.answer {
  background-image: url("/img/answer.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.ask {
  background-image: url("/img/ask.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.bookmark {
  background-image: url("/img/bookmark.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.chat {
  background-image: url("/img/chat.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.edit {
  background-image: url("/img/edit.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.like {
  background-image: url("/img/like.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.logo {
  background-image: url("/img/logo.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.mail {
  background-image: url("/img/mail.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.save {
  background-image: url("/img/save.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.search {
  background-image: url("/img/search.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.settings {
  background-image: url("/img/settings.png");
}
/* line 4, ../../tests/sass/icons.scss */
.iconButtons.user {
  background-image: url("/img/user.png");
}

/* line 32, ../../tests/sass/icons.scss */
.actionButtons {
  background-size: cover;
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.answer {
  background-image: url("/img/answer.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.answer:hover {
  background-image: url("/img/answer_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.ask {
  background-image: url("/img/ask.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.ask:hover {
  background-image: url("/img/ask_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.bookmark {
  background-image: url("/img/bookmark.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.bookmark:hover {
  background-image: url("/img/bookmark_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.chat {
  background-image: url("/img/chat.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.chat:hover {
  background-image: url("/img/chat_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.edit {
  background-image: url("/img/edit.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.edit:hover {
  background-image: url("/img/edit_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.like {
  background-image: url("/img/like.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.like:hover {
  background-image: url("/img/like_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.logo {
  background-image: url("/img/logo.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.logo:hover {
  background-image: url("/img/logo_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.mail {
  background-image: url("/img/mail.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.mail:hover {
  background-image: url("/img/mail_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.save {
  background-image: url("/img/save.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.save:hover {
  background-image: url("/img/save_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.search {
  background-image: url("/img/search.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.search:hover {
  background-image: url("/img/search_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.settings {
  background-image: url("/img/settings.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.settings:hover {
  background-image: url("/img/settings_filled.png");
}
/* line 4, ../../tests/sass/icons.scss */
.actionButtons.user {
  background-image: url("/img/user.png");
}
/* line 11, ../../tests/sass/icons.scss */
.actionButtons.user:hover {
  background-image: url("/img/user_filled.png");
}
