/* FONTS */
/* COLOURS */
/* BREAKPOINTS */
/* DIMENSIONS */
/* MISCELLANEOUS */
/* line 3, ../../tests/sass/qa.scss */
.qa > * {
  padding: 35px;
}
/* line 6, ../../tests/sass/qa.scss */
.qa .question {
  padding-top: 5px;
  padding-left: 5px;
}
/* line 9, ../../tests/sass/qa.scss */
.qa .question h2 {
  font-size: 24px;
  font-weight: 700;
}
/* line 14, ../../tests/sass/qa.scss */
.qa .answer {
  padding-top: 0;
  line-height: 18px;
  padding-left: 17px;
}
/* line 18, ../../tests/sass/qa.scss */
.qa .answer li {
  list-style: disc;
  list-style-position: inside;
}
