/* line 5, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* FONTS */
/* COLOURS */
/* BREAKPOINTS */
/* DIMENSIONS */
/* MISCELLANEOUS */
@font-face {
  font-family: "Ubuntu Mono";
  src: url('../../public/fonts/UbuntuMono-R.ttf?1423377481') format('truetype');
}
@font-face {
  font-family: "Quicksand";
  src: url('../../public/fonts/Quicksand-Regular.otf?1423377481') format('opentype');
}
@media screen and (max-width: 479px) and (min-width: 320px) {
  /* line 23, ../../tests/sass/screen.scss */
  .centerer {
    width: 320px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  /* line 29, ../../tests/sass/screen.scss */
  .centerer {
    width: 480px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 35, ../../tests/sass/screen.scss */
  .centerer {
    width: 768px;
  }
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
  /* line 41, ../../tests/sass/screen.scss */
  .centerer {
    width: 1024px;
  }
}
@media screen and (min-width: 1366px) {
  /* line 47, ../../tests/sass/screen.scss */
  .centerer {
    width: 1366px;
  }
}
/* line 53, ../../tests/sass/screen.scss */
.red {
  color: #f28374;
  background-color: #f28374;
}

/* line 53, ../../tests/sass/screen.scss */
.yellow {
  color: #ffde64;
  background-color: #ffde64;
}

/* line 53, ../../tests/sass/screen.scss */
.green {
  color: #8ad19d;
  background-color: #8ad19d;
}

/* line 53, ../../tests/sass/screen.scss */
.blue {
  color: #80adbd;
  background-color: #80adbd;
}

/* line 53, ../../tests/sass/screen.scss */
.light-grey {
  color: #f0f0f0;
  background-color: #f0f0f0;
}

/* line 53, ../../tests/sass/screen.scss */
.dark-grey {
  color: #333333;
  background-color: #333333;
}

/* line 53, ../../tests/sass/screen.scss */
.white {
  color: #ffffff;
  background-color: #ffffff;
}

/* line 58, ../../tests/sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* line 65, ../../tests/sass/screen.scss */
html {
  position: relative;
}

/* line 69, ../../tests/sass/screen.scss */
.overlay {
  position: absolute;
}

/* line 73, ../../tests/sass/screen.scss */
.centerer {
  display: inline-block;
}

/* line 77, ../../tests/sass/screen.scss */
body {
  margin: 0 0 48px;
  font-family: "Quicksand";
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
}

/* line 86, ../../tests/sass/screen.scss */
body > * {
  text-align: left;
}

/* line 90, ../../tests/sass/screen.scss */
a {
  text-decoration: none;
  color: #333333;
}

/* line 95, ../../tests/sass/screen.scss */
code {
  font-family: "Ubuntu Mono";
}

/* line 98, ../../tests/sass/screen.scss */
.iconButtons, .actionButtons {
  width: 24px;
  height: 24px;
  display: inline-block;
}

/* line 103, ../../tests/sass/screen.scss */
.actionButtons {
  cursor: pointer;
}

/* line 107, ../../tests/sass/screen.scss */
.menu {
  width: 100%;
  height: 48px;
  text-align: center;
  background-color: #f0f0f0;
}
/* line 112, ../../tests/sass/screen.scss */
.menu .menuItem, .menu .menuIcon {
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
}
/* line 117, ../../tests/sass/screen.scss */
.menu .menuIcon {
  height: 24px;
  width: 24px;
  display: inline-block;
}

/* line 125, ../../tests/sass/screen.scss */
.menuLeft {
  text-align: left;
  float: left;
}

/* line 130, ../../tests/sass/screen.scss */
.menuRight {
  text-align: right;
  float: right;
}

/* line 135, ../../tests/sass/screen.scss */
.banner.menu {
  font-size: 0;
}
/* line 137, ../../tests/sass/screen.scss */
.banner.menu .halfMenu {
  display: inline-block;
  width: 50%;
}
/* line 141, ../../tests/sass/screen.scss */
.banner.menu .menuLeft {
  display: inline-block;
  width: 60%;
}
/* line 145, ../../tests/sass/screen.scss */
.banner.menu .menuRight {
  display: inline-block;
  width: 40%;
}
/* line 148, ../../tests/sass/screen.scss */
.banner.menu .menuRight #bannerSearch {
  width: 180px;
  height: 24px;
  border: none;
  margin-right: 24px;
}
/* line 155, ../../tests/sass/screen.scss */
.banner.menu .menuItem, .banner.menu .menuIcon {
  height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 159, ../../tests/sass/screen.scss */
.banner.menu .menuItem input, .banner.menu .menuIcon input {
  vertical-align: bottom;
}

/* line 165, ../../tests/sass/screen.scss */
.centerer.body {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 12px;
}

/* line 171, ../../tests/sass/screen.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 48px;
  width: 100%;
}
/* line 177, ../../tests/sass/screen.scss */
footer .menu {
  font-size: 14px;
}
/* line 179, ../../tests/sass/screen.scss */
footer .menu .menuLeft, footer .menu .menuRight, footer .menu .logoContainer {
  display: inline-block;
}
/* line 184, ../../tests/sass/screen.scss */
footer .menu .menuLeft a, footer .menu .menuRight a {
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}
/* line 190, ../../tests/sass/screen.scss */
footer .menu .menuLeft {
  width: 45%;
}
/* line 194, ../../tests/sass/screen.scss */
footer .menu .logoContainer {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 5%;
}
/* line 200, ../../tests/sass/screen.scss */
footer .menu .menuRight {
  width: 45%;
}

/* line 207, ../../tests/sass/screen.scss */
.aside {
  width: 30%;
  float: right;
  display: inline-block;
}

/* line 213, ../../tests/sass/screen.scss */
.main {
  width: 70%;
  display: inline-block;
  float: left;
}

/* line 220, ../../tests/sass/screen.scss */
.legend {
  padding-left: 18px;
  padding-top: 50px;
}
/* line 223, ../../tests/sass/screen.scss */
.legend li {
  line-height: 18px;
  margin: 9px 0;
}
/* line 226, ../../tests/sass/screen.scss */
.legend li .asideCircle {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: inline-block;
  margin-right: 9px;
}
/* line 231, ../../tests/sass/screen.scss */
.legend li .asideText {
  display: inline-block;
  vertical-align: top;
}

/* line 238, ../../tests/sass/screen.scss */
.questionListItem {
  border-color: #f0f0f0;
  border-width: 3px;
  border-style: solid;
  height: 92px;
  margin-bottom: 8px;
}
/* line 240, ../../tests/sass/screen.scss */
.questionListItem.outdated {
  border-color: #f28374;
}
/* line 243, ../../tests/sass/screen.scss */
.questionListItem.edited {
  border-color: #ffde64;
}
/* line 246, ../../tests/sass/screen.scss */
.questionListItem.new {
  border-color: #8ad19d;
}
/* line 253, ../../tests/sass/screen.scss */
.questionListItem .indent {
  text-align: center;
  width: 60px;
}
/* line 258, ../../tests/sass/screen.scss */
.questionListItem .question > *, .questionListItem .answerSnippet > * {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding-top: 8px;
}
/* line 265, ../../tests/sass/screen.scss */
.questionListItem .question {
  height: 45%;
}
/* line 268, ../../tests/sass/screen.scss */
.questionListItem .question .questiontext {
  font-size: 18px;
  font-weight: 700;
  width: calc(100% - 60px);
}
/* line 274, ../../tests/sass/screen.scss */
.questionListItem .answerSnippet {
  height: 55%;
}
/* line 277, ../../tests/sass/screen.scss */
.questionListItem .answerSnippet .version {
  width: 60px;
  height: 20px;
  background-color: #80adbd;
  padding: 0;
  margin-top: 8px;
  text-align: center;
  line-height: 20px;
  color: #f0f0f0;
  font-weight: 700;
}
/* line 288, ../../tests/sass/screen.scss */
.questionListItem .answerSnippet .answerText {
  float: right;
  display: inline-block;
  width: calc(100% - 60px - 60px - 20px);
  max-height: 28px;
  overflow: hidden;
}

/* line 299, ../../tests/sass/screen.scss */
.qa > * {
  padding: 35px;
}
/* line 302, ../../tests/sass/screen.scss */
.qa .question {
  padding-top: 5px;
  padding-left: 5px;
}
/* line 305, ../../tests/sass/screen.scss */
.qa .question h2 {
  font-size: 24px;
  font-weight: 700;
}
/* line 310, ../../tests/sass/screen.scss */
.qa .answer {
  padding-top: 0;
  line-height: 18px;
  padding-left: 17px;
}
/* line 314, ../../tests/sass/screen.scss */
.qa .answer li {
  list-style: disc;
  list-style-position: inside;
}
/* line 318, ../../tests/sass/screen.scss */
.qa .answer .answerbox {
  position: relative;
}
/* line 320, ../../tests/sass/screen.scss */
.qa .answer .answerbox .editButton {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 325, ../../tests/sass/screen.scss */
.qa .answer .answerbox #epictext {
  display: none;
}
/* line 328, ../../tests/sass/screen.scss */
.qa .answer .answerbox .editBox {
  width: calc(100% - (4 * 24px));
  display: inline-block;
}

/* line 336, ../../tests/sass/screen.scss */
.favoriteButtons {
  float: left;
  width: 24px;
  padding-left: 5px;
  padding-right: 24px;
}
