/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* FONTS */
/* COLOURS */
/* BREAKPOINTS */
/* DIMENSIONS */
/* MISCELLANEOUS */
@font-face {
  font-family: "Ubuntu Mono";
  src: url('../../public/fonts/UbuntuMono-R.ttf?312739200') format('truetype');
}
@media screen and (max-width: 479px) and (min-width: 320px) {
  /* line 23, ../../tests/sass/screen.scss */
  .centerer {
    width: 320px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  /* line 29, ../../tests/sass/screen.scss */
  .centerer {
    width: 480px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 35, ../../tests/sass/screen.scss */
  .centerer {
    width: 768px;
  }
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
  /* line 41, ../../tests/sass/screen.scss */
  .centerer {
    width: 1024px;
  }
}
@media screen and (min-width: 1366px) {
  /* line 47, ../../tests/sass/screen.scss */
  .centerer {
    width: 1366px;
  }
}
/* line 53, ../../tests/sass/screen.scss */
.red {
  color: #f28374;
  background-color: #f28374;
}

/* line 53, ../../tests/sass/screen.scss */
.yellow {
  color: #ffde64;
  background-color: #ffde64;
}

/* line 53, ../../tests/sass/screen.scss */
.green {
  color: #8ad19d;
  background-color: #8ad19d;
}

/* line 53, ../../tests/sass/screen.scss */
.blue {
  color: #80adbd;
  background-color: #80adbd;
}

/* line 53, ../../tests/sass/screen.scss */
.light-grey {
  color: #f0f0f0;
  background-color: #f0f0f0;
}

/* line 53, ../../tests/sass/screen.scss */
.dark-grey {
  color: #333333;
  background-color: #333333;
}

/* line 58, ../../tests/sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* line 65, ../../tests/sass/screen.scss */
html {
  position: relative;
}

/* line 69, ../../tests/sass/screen.scss */
.overlay {
  position: absolute;
}

/* line 73, ../../tests/sass/screen.scss */
.centerer {
  display: inline-block;
}

/* line 77, ../../tests/sass/screen.scss */
body {
  margin: 0 0 48px;
  font-family: "Ubuntu Mono";
  font-size: 14px;
  text-align: center;
}

/* line 84, ../../tests/sass/screen.scss */
body > * {
  text-align: left;
}

/* line 88, ../../tests/sass/screen.scss */
a {
  text-decoration: none;
  color: #333333;
}

/* line 93, ../../tests/sass/screen.scss */
code {
  font-family: "Ubuntu Mono";
}

/* line 96, ../../tests/sass/screen.scss */
.iconbuttons, .actionbuttons {
  width: 24px;
  height: 24px;
  display: inline-block;
}

/* line 101, ../../tests/sass/screen.scss */
.actionbuttons {
  cursor: pointer;
}

/* line 105, ../../tests/sass/screen.scss */
.menu {
  width: 100%;
  height: 48px;
  text-align: center;
  background-color: #f0f0f0;
}
/* line 110, ../../tests/sass/screen.scss */
.menu .menuitem, .menu .menuicon {
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
}
/* line 115, ../../tests/sass/screen.scss */
.menu .menuicon {
  height: 24px;
  width: 24px;
  display: inline-block;
}

/* line 123, ../../tests/sass/screen.scss */
.menuleft {
  text-align: left;
  float: left;
}

/* line 128, ../../tests/sass/screen.scss */
.menuright {
  text-align: right;
  float: right;
}

/* line 133, ../../tests/sass/screen.scss */
.banner.menu {
  font-size: 0;
}
/* line 135, ../../tests/sass/screen.scss */
.banner.menu .halfmenu {
  display: inline-block;
  width: 50%;
}
/* line 139, ../../tests/sass/screen.scss */
.banner.menu .menuleft {
  display: inline-block;
  width: 60%;
}
/* line 143, ../../tests/sass/screen.scss */
.banner.menu .menuright {
  display: inline-block;
  width: 40%;
}
/* line 146, ../../tests/sass/screen.scss */
.banner.menu .menuright #bannersearch {
  width: 180px;
  height: 24px;
  border: none;
  margin-right: 24px;
}
/* line 153, ../../tests/sass/screen.scss */
.banner.menu .menuitem, .banner.menu .menuicon {
  height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 157, ../../tests/sass/screen.scss */
.banner.menu .menuitem input, .banner.menu .menuicon input {
  vertical-align: bottom;
}

/* line 163, ../../tests/sass/screen.scss */
.centerer.body {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 12px;
}

/* line 169, ../../tests/sass/screen.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 48px;
  width: 100%;
}
/* line 175, ../../tests/sass/screen.scss */
footer .menu {
  font-size: 14px;
}
/* line 177, ../../tests/sass/screen.scss */
footer .menu .footermenu, footer .menu .textmenu, footer .menu .menuleft, footer .menu .menuright, footer .menu .logocont {
  display: inline-block;
}
/* line 182, ../../tests/sass/screen.scss */
footer .menu .textmenu a, footer .menu .menuleft a, footer .menu .menuright a {
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}
/* line 188, ../../tests/sass/screen.scss */
footer .menu .menuleft {
  width: 45%;
}
/* line 192, ../../tests/sass/screen.scss */
footer .menu .logocont {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 5%;
}
/* line 198, ../../tests/sass/screen.scss */
footer .menu .menuright {
  width: 45%;
}

/* line 205, ../../tests/sass/screen.scss */
.aside {
  width: 30%;
  float: right;
  display: inline-block;
}

/* line 211, ../../tests/sass/screen.scss */
.main {
  width: 70%;
  display: inline-block;
  float: left;
}

/* line 218, ../../tests/sass/screen.scss */
.legend {
  padding-left: 18px;
  padding-top: 50px;
}
/* line 221, ../../tests/sass/screen.scss */
.legend li {
  line-height: 18px;
  margin: 9px 0;
}
/* line 224, ../../tests/sass/screen.scss */
.legend li .asidecircle {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: inline-block;
  margin-right: 9px;
}
/* line 229, ../../tests/sass/screen.scss */
.legend li .asidetext {
  display: inline-block;
  vertical-align: top;
}

/* line 236, ../../tests/sass/screen.scss */
.questionlistitem {
  border-color: #f0f0f0;
  border-width: 3px;
  border-style: solid;
  height: 92px;
  margin-bottom: 8px;
}
/* line 238, ../../tests/sass/screen.scss */
.questionlistitem.outdated {
  border-color: #f28374;
}
/* line 241, ../../tests/sass/screen.scss */
.questionlistitem.edited {
  border-color: #ffde64;
}
/* line 244, ../../tests/sass/screen.scss */
.questionlistitem.new {
  border-color: #8ad19d;
}
/* line 251, ../../tests/sass/screen.scss */
.questionlistitem .indent {
  text-align: center;
  width: 60px;
}
/* line 256, ../../tests/sass/screen.scss */
.questionlistitem .questionanswer > *, .questionlistitem .question > *, .questionlistitem .answersnippet > * {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding-top: 8px;
}
/* line 263, ../../tests/sass/screen.scss */
.questionlistitem .question {
  height: 45%;
}
/* line 266, ../../tests/sass/screen.scss */
.questionlistitem .question .questiontext {
  font-size: 18px;
  font-weight: 700;
  width: calc(100% - 60px);
}
/* line 272, ../../tests/sass/screen.scss */
.questionlistitem .answersnippet {
  height: 55%;
}
/* line 275, ../../tests/sass/screen.scss */
.questionlistitem .answersnippet .version {
  width: 60px;
  height: 20px;
  background-color: #80adbd;
  padding: 0;
  margin-top: 8px;
  text-align: center;
  line-height: 20px;
  color: #f0f0f0;
  font-weight: 700;
}
/* line 286, ../../tests/sass/screen.scss */
.questionlistitem .answersnippet .answertext {
  float: right;
  display: inline-block;
  width: calc(100% - 60px - 60px - 20px);
  max-height: 28px;
  overflow: hidden;
}
