///////////
/* FONTS */
///////////
$default-font: "Quicksand";
$code-font: "Ubuntu Mono";
$default-font-size: 14px;
$list-title-font-size: 18px;
$main-title-font-size: 24px;

/////////////
/* COLOURS */
/////////////
$color-scheme: (red: #f28374, yellow: #ffde64, green: #8ad19d, blue: #80adbd, light-grey: #f0f0f0, dark-grey: #333333, white: #ffffff);

/////////////////
/* BREAKPOINTS */
/////////////////
$break-mobport: 320px;
$break-mobland: 480px;
$break-tablet: 768px;
$break-desktop: 1024px;
$break-hires: 1366px;

////////////////
/* DIMENSIONS */
////////////////
$icon-size: 24px;
$banner-height: 48px;
$top-margin: 30px;
$bottom-margin: 30px;
$question-height: 100px;
$question-gap: 8px;
$aside-circle-size: 18px;
$question-question-height: 45%;
$question-answer-height: 100% - $question-question-height;
$indent-width: 60px;
$version-width: 60px;
$version-height: 20px;
$version-padding: 20px;
$question-inner-padding: 8px;

$qa-padding: 35px;
$qa-question-padding-top: $qa-padding - $top-margin;
$qa-question-padding-left: $qa-question-padding-top;
$qa-answer-padding-left: $qa-question-padding-left + 12px;
$qa-answer-line-height: 18px;
$qa-editor-width: ($icon-size * 3) + $qa-question-padding-left;

///////////////////
/* MISCELLANEOUS */
///////////////////
$lines-to-display: 2;