@import "settings";

@mixin iconButton($name) {
    &.#{$name} {
		background-image: url("/img/#{$name}.png");
	}
}

@mixin actionButton($name) {
    @include iconButton($name);
	&.#{$name}:hover {
		background-image: url("/img/#{$name}_filled.png");
	}
}

.iconButtons {
	background-size: cover;
	@include iconButton('answer');
	@include iconButton('ask');
	@include iconButton('bookmark');
	@include iconButton('chat');
	@include iconButton('edit');
	@include iconButton('like');
	@include iconButton('logo');
	@include iconButton('mail');
	@include iconButton('save');
	@include iconButton('search');
	@include iconButton('settings');
	@include iconButton('user');
}

.actionButtons {
	background-size: cover;
	@include actionButton('answer');
	@include actionButton('ask');
	@include actionButton('bookmark');
	@include actionButton('chat');
	@include actionButton('edit');
	@include actionButton('like');
	@include actionButton('logo');
	@include actionButton('mail');
	@include actionButton('save');
	@include actionButton('search');
	@include actionButton('settings');
	@include actionButton('user');
}
